.upcoming {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.upcoming h2 {
    color: black;
    margin: 30px 10%;
}

.bestseller-container {
    display: flex;
    flex-direction: column;
}

.bestseller-head {
    display: flex;
    flex-direction: column;
    justify-self: flex-start;
    position: absolute;
    z-index: 1;
    /* user-select: none;
    margin-top: 0.5rem;
    margin-left: 1rem; */
}

.bestseller-head h2 {
    color: #000000;
    text-shadow: -2px 2px #FF2273;
    user-select: none;
}

.bestsellerCarousel {
    margin: auto;
    width: fit-content;
    display: flex;
    justify-content: center;
    /* margin-left: 20rem;
    margin-right: 20rem; */
}

.main-slide {
    position: relative;
    background-color: #f5f5f5; 
    height: 400px;
}

.slide {
    height: 400px;    
}

.carousel-status {
    display: none;
}

.carousel {
    text-align: center;
    
}

.imageBg {
    height: 400px;
}

.thumbs {
    display: none;
}

.bestLink {
    text-decoration: none;
    font-family: "Bungee", cursive;
    color: #000000;
}

.bestLink:hover {
    color: #FF2273
}

.type {
    position: absolute;
    top: 65%;
    left: 10%;


    font-weight: bold;
    font-size: 2rem;
    background-color: rgba(255, 255, 255, 0.778);
    /* padding: 0 20px 0 20px; */
}

.carousel-source {
    position: absolute;
    top: 80%;
    left: 10%;

    font-weight: bold;
    font-size: 2rem;
    background-color: rgba(255, 255, 255, 0.778);

    user-select: none;
}

.carousel .control-dots .dot {
    border-radius: 10%;
    width: 15px;
    height: 15px;
}

.carousel .control-dots .dot.selected, .carousel .control-dots .dot:hover {
    background-color: black;
}


.carousel.carousel-slider .control-arrow:hover {
    opacity: 1;
}

.search{
    text-align: center;
    width: 60rem;
    height: 4rem;
    border: 2px solid black;
    border-radius: 25px;

}

.results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    height: 50px;
}

.billsLogo {
    max-width: 300px;
}

.homepage-welcome {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 2rem;
}

.homepage-welcome p {
    width: 35rem;
    text-align: justify;
}

.homepage-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homepage-logo img {
    cursor: default;
}
.homepage-logo p {
    max-width: 300px;
    text-align: center;
    margin-top: 1rem;
}

.homepage-about {
    margin-left: 5rem;
}

.homepage-about p {
    width: 30vw;
}

.about-link {
    display: flex;
    text-decoration: none;
}

.loading {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 0 auto;
}

.homepage-nav-thumbs {
    display: flex;
    margin: auto;
    margin-top: 50px;
    justify-content: center;
}

.thumbs-flex {
    display: flex;
    flex-wrap: wrap;
    max-width: 1280px;
    justify-content: space-evenly;
}

.thumbs-flex div {
    cursor: pointer;
    width: 500px;
    height: 314px;
    background-size: contain;
    /* background-color: #00BFC3; */
    border-radius: 10px;
    margin-bottom: 30px;
    /* box-shadow: 5px 5px 8px rgba(107, 107, 107, 0.6); */
}

#bootstrap-overrides .nav-link {
    padding: 0;
}

/* .products-thumb {
    background-image: url('./assets/products.jpg');
} */

.nav-thumb {
    max-width: 500px;
    border-radius: 10px;
}



/* .radioCloseHover {
    display: flex;
    z-index: 1;
} */


.radioNewMobile {
    display: none;
}

.radioNew img {
    cursor: default;
}

.radioNew .confirm {
    position: fixed;
    left: 250px;
    top: 210px;
    font-family: bungee;
    cursor: pointer;
}

.confirm:hover {
    color:#FF2273
}

.featureFlex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 80vw;
}

.featuredProduct {
    max-width: 400px;
    height: 400px;
    box-shadow: 2px 2px 6px #3a3a3a;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 20px;
}

.featureDisplay {
    width: 100%;
    display: flex;
    position: relative;
}

.featureThumb {
    position: absolute;
    left: 0;
    max-width: 400px;
    border-radius: 5px;
    z-index: 1;
}

.featureName {
    position: absolute;
    left: 15px;
    text-align: left;
    width: 350px;
    padding-top: 10px;
    font-size: 24px;
    line-height: 30px;
    text-shadow: -2px 2px 1px #FF2273;
    z-index: 2;
}

.featureDscrpt {
    font-size: 85%;
    text-align: center;
    width: 400px;
    height: fit-content;
    margin: auto;
    padding-bottom: 15px;
}

@media (max-width: 790px) {

    .loading {
        height: 225px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto 0 auto;
    }

    .main-slide {
        background-color: #f5f5f5; 
        max-height: 200px;
        
    }
    
    .slide {
        height: 225px;    
    }
    

    .type {
        position: absolute;
        left: 3%;
        top: 12%;
        text-align: center;
        font-size: 1rem;
        max-width: 94%;
        background-color: rgba(255, 255, 255, 0.5);
    }

    .carousel {
        max-width: 100vw;
        max-height: 200px;
    }

    .carousel-source {
        display: none;
    
        user-select: none;
    }

    .radioNewMobile {
        display: flex;
        position: fixed;
        left: 0px;
        bottom: 50px;
        user-select: none;
    }
    
    

    #imageBg img {
        display: flex;
        justify-content: center;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    
    .homepage-welcome {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* justify-content: flex-start; */
    }
    
    .homepage-logo {
        display: flex;
        justify-content: center;
    }
    
    .billsLogo {
        max-width: 225px;
    }
    
    .homepage-logo p {
        margin-top: auto;
        font-size: 1rem;
    }
    
    .homepage-about {
        width: 90vw;
        margin-left: 0px;
        margin-top: 2rem;
    }
    
    .homepage-about p {
        font-size: 1rem;
        width: 90vw;
        text-align: center;
    }
    
    .about-link {
        width: 70vw;
        display: flex;
        text-align: center;
        text-decoration: none;
        margin: auto;
    }

    .thumbs-flex {
        display: flex;
        flex-wrap: wrap;
        max-width: 100vw;
        justify-content: space-evenly;
    }

    .thumbs-flex div {
        cursor: pointer;
        width: fit-content;
        height: fit-content;
        background-size: contain;
        /* background-color: #00BFC3; */
        border-radius: 10px;
        margin-bottom: 30px;
        box-shadow: 5px 5px 8px rgba(107, 107, 107, 0.6);
    }
    
    .nav-thumb {
        max-width: 90vw;
        border-radius: 10px;
    }

    .upcoming {
        max-width: 90vw;
        font-size: 1.2rem;
        text-align: center;
        margin: auto;
    }

    .comingList {
        list-style-position: inside;
        padding: 0px 15px 0px 15px;
    }


}



