.radioHidden {
    animation: hideRadio 0.5s linear;
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 325px;
    position: fixed;
    z-index: 2;
    top: 26px;
    left: 0px;
    border-radius: 0px 0px 10px 0px;
    box-shadow: -2px 2px 6px rgb(36, 36, 36);
}

.radioVisible {
    animation: showRadio 0.5s linear;
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 325px;
    position: fixed;
    z-index: 5;
    top: 75px;
    left: 0px;
    border-radius: 0px 0px 10px 0px;
    box-shadow: -2px 2px 6px rgb(36, 36, 36);
}


.radioContainer {
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 325px;
    top: 75px;
    left: 0px;
    background-color: white;
    border-radius: 0px 0px 10px 0px;
    z-index: 1;
}

.textContainer {
    display: flex;
    flex-direction: column;
}

.radioContainer p {
    margin: auto;
}

#mute {
    color: #FF2273;
    margin:auto;
}

#mute:hover {
    color: #F8DC38;
    cursor: pointer;    
}

#skip {
    color: #FF2273;
    margin:auto;
}

#skip:hover {
    color: #F8DC38;
    cursor: pointer;
}

.muteContainer {
    display: flex;
    align-items: center;
    margin: 0px 10px;
}

.newTrackContainer {
    display: flex;
    align-items: center;
    margin-left: 10px;
    right: 10px;
    /* padding-right: 10px; */
}

.marqueeContainer {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    width: 210px;
}

#marquee {
    --gap: 1rem;
    position: relative;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);
  }
  
#marquee__content {
    animation: marquee 12s linear infinite;
    flex-shrink: 0;
    display: flex;
    justify-content: left;
    gap: var(--gap);
    min-width: 100%;
}

.toggleContainer {
    display: flex;
    justify-content: center;
    width: 325px;
    height: 20px;
    position: absolute;
    top: 50px;
    left: 0px;
}

.hideToggle {
    animation: hideToggle 0.6s linear;
    z-index: -1;
    position: relative;
    top: -25px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: white;
    box-shadow: 0px 2px 2px #363636; */
    border-radius: 0px 0px 5px 5px;
}

.showToggle {
    z-index: 0;
    position: relative;
    animation: showToggle 0.5s linear;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(255, 255, 255); */
    /* box-shadow: 0px 2px 2px #363636; */
    border-radius: 0px 0px 5px 5px;
}

.toggleButton {
    z-index: 1;
    position: relative;
    animation: showToggle 0.5s linear;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 2px #363636;
    border-radius: 0px 0px 5px 5px;    
    cursor: pointer;
}

.volumeControls {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    font-family: "bungee", monospace;
    left: 0px;
    top: 3px;
    width: 100px;
    height: 20px;
    user-select: none;
}

.volumeDisplay {
    font-family: "Bungee Hairline", monospace;
}

.volUp:hover{
    color:#FF2273;
    text-shadow: -1px 1px 0px black;
    user-select: none;
    cursor: pointer;
}

.volUp:disabled {
    color: gray;
}

.volDown:hover{
    color:#FF2273;
    text-shadow: 1px 1px 0px black;
    user-select: none;
    cursor: pointer;
}

.volDisabled {
    color: gray;
}

.volDisabled:hover {
    color: gray;
    text-shadow: none;
}

.thirdPanel {
    width: 108px;
}

@keyframes showRadio {
    0% {
        transform: translateY(-50px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes hideRadio {
    0% {
        transform: translateY(50px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes showToggle {
    0% {
        transform: translateY(-25px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes hideToggle {
    0% {
        transform: translateY(25px);
    }
    100% {
        transform: translateY(0px);
    }
}

    
@keyframes marquee {
    10% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(calc(-100% - var(--gap)));
    }
}

@media (max-width: 790px) {

    .radioContainer {
        position: fixed;
        top: unset;
        bottom: 0px;
        width: 100%;
        border-radius: unset;
        box-shadow: 2px -2px 4px rgb(153, 153, 153);
    }
    .marqueeContainer {
        width: fit-content;
    }

    /* #mute:hover {
        color: #FF2273;
    } */

    .newTrackContainer {
        margin-right: 10px;
    }

    #skip:hover {
        color: #FF2273;
    }

    #skip:active {
        color:#F8DC38;
    }

    .toggleContainer {
        visibility: hidden;
    }

    .radioVisible {
        box-shadow: unset;
    }
}