.cart-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.cart-h2 {
    color: rgb(0, 0, 0)
}

#title {
    text-overflow: unset;
    white-space: pre-wrap;
}

.cartQuantity {
    max-width: 50px;
    overflow: hidden;
}

.cart-card-flex {
    display: flex;
    flex-direction: row;
}

.card {
    margin-bottom: 1rem;
    box-shadow: 2px 2px 5px rgb(128, 128, 128);
}