body {
    font-family: 'Bungee Hairline', 'Courier New',
    monospace;
    /* font-family: 'Special Elite', 'Courier New',
    monospace; */
    /* font-family: 'Rajdhani', 'Courier New',
    monospace; */
    /* font-family: 'Oxanium', 'Courier New',
    monospace; */
    font-weight: bolder;
    font-size: 1.3rem;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Bungee', 'Courier New',
    monospace;
    
}

.navbar-bg {
    background-color: #00BFC3;
}

/* .container {
    display: flex;
    justify-content: flex-start;
} */

#nav-brand {
    margin-left: 20px;
    user-select: none;
}

#nav-style {
    font-family: 'Bungee', 'Courier New', monospace;
    margin-right: 20px;
}

.nav-link {
    color: #FF2273 !important;
    text-shadow: -2px 2px #000000;
}
.navbar-text {
    color: #FF2273 !important;
}
.nav-link:hover {
    color: #F8DC38 !important;
}
.navbar-text.dash-link:hover {
    color: #F8DC38 !important;
}

.navbar-bg {
    filter: drop-shadow(0 -4mm 5mm rgb(0, 0, 0));
}

.radioClose {
    position: fixed;
    top: 200px;
    left: 250px;
}

.radioNew {
    position: fixed;
    top: 145px;
    user-select: none;
    z-index: 2;
}



@media (max-width: 790px) {
    #nav-brand {
        margin-left: 5px;
    }
    #nav-style {
        margin-left: 20px;
    }

    .radioNew {
        display: none;
    }
    
    .radioNewMobile img {
        cursor: default;
    }
    
    .radioNewMobile .confirm {
        position: fixed;
        right: 10px;
        bottom: 120px;
        font-family: bungee;
        cursor: pointer;
    }
}