body {
    font-family: 'Bungee Hairline', 'Courier New',
    monospace;
    /* oxanium */
    font-weight: bolder;
    font-size: 1.3rem;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Bungee', 'Courier New',
    monospace;
    
}

.navbar-bg {
    background-color: #00BFC3;
}

/* .container {
    display: flex;
    justify-content: flex-start;
} */

#nav-brand {
    margin-left: 20px;
}

#nav-style {
    font-family: 'Bungee', cursive;
    margin-right: 20px;
}

.nav-link {
    color: #FF2273 !important;
    text-shadow: -2px 2px #000000;
}
.navbar-text {
    color: #FF2273 !important;
}
.nav-link:hover {
    color: #F8DC38 !important;
}
.navbar-text.dash-link:hover {
    color: #F8DC38 !important;
}


.navbar-bg {
    filter: drop-shadow(0 -4mm 5mm rgb(0, 0, 0));
}

@media (max-width: 790px) {
    #nav-brand {
        margin-left: 5px;
    }
    #nav-style {
        margin-left: 20px;
    }
}