h3 {
    font-size: 2.5rem;
}

img:hover {
    cursor: pointer;
}

.btn-secondary:focus, .btn-secondary:active {
    background-color: #FF2273;
    border-color:#FF2273;
}

.detailModalFlex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.variantSelection {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.variantForm {
    font-weight: bolder;
}

.select-text {
    font-family: 'Bungee Hairline', Courier, monospace;
    font-weight: bolder;
}

.mainImg {
    display: flex;
    justify-content: center;
    max-width: 1000px;
}

.detailImg {
    width: 90%;
    border-radius: 5px;
    box-shadow: 3px 3px 10px #858585;
}

.images {
    display: flex;
    flex-direction: column;
}

.img-thumbs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 25px
}

.img-thumbs div {
    width: 100px;
    height: 100px;
    background-color: white;
}

.thumb {
    width: 100%;
    border-radius: 5px;
    box-shadow: 2px 2px 5px;
}

.selected-img {
    width: 100%;
    border: 3px solid #00BFC3;
    border-radius: 9px;
    box-shadow: 2px 2px 5px #FF2273;
}

.selected-img img {
    filter: opacity(50%)
}

.detailsInfo {
    width: 30vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-content: space-between;
    align-items: flex-start;
    margin: 20px;
    /* background-color: blue; */
}

.detailsDescr {
    white-space: pre-wrap;
}

@media (max-width: 996px) {

    h3 {
        font-size: 1.5rem;
    }
    
    .modal-content{
        display: flex;
        width: 95vw;
        height: fit-content;
        justify-self: center;
    }
    
    .detailModalFlex{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        
        
    }

    .detailImg {
        width: 94vw;
        display: flex;
        justify-self: center;
        box-shadow: none;
        border-radius: 0px;
    }
    
    .detailsInfo{
        font-size: 1rem;
        padding-top: 20px;
        width: 100%;
        padding-right: 0%;
        /* width: 300px;
        display: flex;
        flex-direction: row;
        align-items: stretch; */
    } 

    .vr{
        display: none;
    }
    
    .img-thumbs {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 10px;
    }

    .div-thumb, .selected-img {
        margin-top: 15px;
    }
    
}

/* .audioPlayer {
    background-color: green;
} */

.playButton {
    width: 45px;
    height: 45px;
    background-color: white;
    border: 2px solid black;
}

.player {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.arrow {
    width: 0; 
    height: 0;
    margin-left: 27.78%;
    margin-top: 27.78%;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    border-left: 20px solid black; 
}

.seekBar {
    display: flex;
    position: relative;
    height: 13px;
    width: 250px;
    border: 1px solid black;
    background-color: white;
    margin-left: 10px;
}

.elapsed {
    display: flex;
    position: absolute;
    height: 11px;
    width: 160px;
    background-color: black;
}

.quantityCounter {
    display: inline-flex;
    align-items: baseline;
    flex-wrap: wrap;
}

.buttons-container {
    margin-top: 2em;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.quantity-container-detail {
    display: flex;
    align-items: center;
    background-color: #FF2273;
    border: 2px solid #FF2273;
    border-radius: 5px;
    height: 54px;
    max-width: fit-content;
}

.quantity-detail-disabled {
    display: flex;
    align-items: center;
    border: 2px solid rgb(255, 255, 255);
    outline: 2px solid #cccccc;
    border-radius: 5px;
    max-width: fit-content;
    cursor: default;
}

.numInput-detail {
    height: 50px;
    width: 50px;
    text-align: center;
    border-radius: 0;
    border-color: white;
    margin-top: 0px;
    cursor: default;
}

.numInput-detail:disabled {
    color: white;
    background-color: #cccccc;
    height: 50px;
    width: 50px;
    text-align: center;
    border-radius: 0;
    border: 2px solid #cccccc;
    margin-top: 0px;
    cursor: default;
}

#reduceQuant-detail {
    width: 50px;
    border-radius: 5px 0 0 5px;
    border-color: white;
    margin-top: 0px;
}

#reduceQuant-detail:disabled {
    width: 50px;
    border-radius: 5px 0 0 5px;
    border-color: grey;
    margin-top: 0px;
}

#reduceQuant-detail:hover {
    border: 2px solid #FF2273;
}

#increaseQuant-detail {
    width: 50px;
    border-radius: 0 5px 5px 0;
    border-color: white;
    margin-top: 0px;
}

#increaseQuant-detail:disabled {
    width: 50px;
    border-radius: 0 5px 5px 0;
    border-color: grey;
    margin-top: 0px;
}

#increaseQuant-detail:hover {
    border: 2px solid #FF2273;
}

#cart-detail {
    background-color: #00BFC3;
    color: white;
    border: none;
    width: 100px;
    padding: 5px;
    margin-top: auto;
    margin-left: 10px;
    /* width: 154px;
    padding: 5px;
    margin-top: 10px; */
}


/* Audio Player */

#audio {
    margin-bottom: 30px;
}

audio::-webkit-media-controls-panel {

    margin: 10px;

}


audio::-webkit-media-controls-play-button {
    background-color: rgb(255, 255, 255);
    border-radius: 10%; 
}

.widthSpacer {
    width: 400px;
}


