/* .imageHover{
    
    cursor: pointer;

}

.modal-90w{
    width: 90%;
    max-width: none !important;

}

input{
    height: 20px;
} */

.card-title {
    font-weight: bold;
    color: black;
}

.card-text {
    font-weight: bold;
}


#marquee {
    --gap: 1rem;
    position: relative;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);
  }
  
  #marquee__content {
    animation: marquee 10s linear infinite;
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    gap: var(--gap);
    min-width: 100%;
  }
    
    @keyframes marquee {
    10% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(calc(-100% - var(--gap)));
    }
  }